{{!-- templates/chat/attack-card.hbs --}}
<div class="bdh-card bdh-attack-card {{#if success}}ok{{else}}fail{{/if}}">
  <div class="bdh-card-head">
    <span class="t">{{weaponName}}{{#if targetName}} <span class="arrow">&#8594;</span> {{targetName}}{{/if}}</span>
    {{#if attackTypeLabel}}<span class="sub">{{attackTypeLabel}}</span>{{/if}}
  </div>
  <div class="bdh-card-stats">
    <div class="bdh-stat"><b>{{target}}</b><span>Target</span></div>
    <div class="bdh-stat"><b>{{modifierLabel}}</b><span>Modifier</span></div>
    <div class="bdh-stat rolled"><b>{{roll}}</b><span>Rolled</span></div>
  </div>
  <div class="bdh-card-line quals">{{attackTypeLabel}}{{#if aimLabel}} &middot; {{aimLabel}}{{/if}}{{#if rangeLabel}} &middot; {{rangeLabel}}{{/if}}{{#if attackNotes}} &middot; <span class="qn">{{attackNotes}}</span>{{/if}}</div>
  {{#if helplessNote}}<div class="bdh-card-line"><span class="qn">{{helplessNote}}</span></div>{{/if}}
  <div class="bdh-card-result {{#if success}}ok{{else}}fail{{/if}}">
    {{#if success}}{{#if hasHits}}Hit{{#if multiHit}} &times;{{hitCount}}{{/if}}{{else}}Success{{/if}}{{else}}Miss{{/if}}
    {{#if degrees}}<span class="bdh-dos-pips">{{#times degrees}}<i></i>{{/times}}</span>{{/if}}
    <span class="deg">{{degrees}} {{#if success}}Degree{{#if multiHit}}s{{/if}} of Success{{else}}Degrees of Failure{{/if}}</span>
    {{#if dosBonus}}<span class="bdh-fate-note">+{{dosBonus}} DoS &middot; Fate</span>{{/if}}
  </div>
  {{#if blastCaught}}<div class="bdh-card-line">Caught in blast{{#if blastScattered}} (scattered){{/if}}: {{blastCaught}}</div>{{/if}}
  {{#if jammed}}
    {{#if overheats}}<div class="bdh-card-line fail">&#128293; Overheat! <button type="button" class="bdh-btn" data-bdh="overheatDrop">Drop!</button> <button type="button" class="bdh-btn" data-bdh="overheatDamage">Roll Damage</button></div>
    {{else}}<div class="bdh-card-line fail">&#9888; Weapon jammed!</div>{{/if}}
  {{/if}}
  {{#if hasHits}}
    <ul class="bdh-hits">
      {{#each hits}}<li><span class="n">{{inc @index}}</span><span class="loc">{{label}}</span></li>{{/each}}
    </ul>
  {{/if}}
  {{#if showActions}}
    <div class="bdh-card-actions">
      <button type="button" class="bdh-btn primary" data-bdh="rollDamage">Roll Damage</button>
      {{#if forceWeapon}}<button type="button" class="bdh-btn" data-bdh="rollDamageForce">Force</button>{{/if}}
      <button type="button" class="bdh-btn" data-bdh="evade">Evade</button>
    </div>
  {{/if}}
</div>
